{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins": [
    "babel",
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": ["off"],
    "max-len": ["error", 140],
  }
}
