@import "function-palette";
// Variables to use across our SCSS.
$spacerSm: 0.5555556rem;        // 10px
$spacer: 1rem;                  // 18px
$spacerLg: 1.3333334rem;        // 24px
$spacerXLg: 1.666667rem;        // 30px

$fontSizeH1: 2rem;              // 36px
$fontSizeH2: 1.6666667rem;      // 30px
$fontSizeH3: 1.3333334rem;      // 24px
$fontSizeH4: 1.1111111rem;      // 20px
$fontSizeH5: 1rem;              // 18px
$fontSizeSmall: 0.7778rem;      // 14px

$lineHeightH1: 2.222222rem;     // 40px
$lineHeightH2: 1.888889rem;     // 34px
$lineHeightH3: 1.666667rem;     // 30px
$lineHeightH4: 1.388889rem;     // 25px
$lineHeightH5: 1.333334rem;     // 24px
$lineHeightP:  1.333334rem;     // 24px
$lineHeightSmall: 1.111rem;     // 20px

// Fonts

// Borders
$panel-border-radius: 0.45rem;
$button-border-radius: 0.23rem;
$default-button-border: solid 2px $white;

// Paddings
$large-padding: 2rem;
